In [1]:
import requests
import numpy as np
import pandas as pd

In [2]:
url = 'https://api.yelp.com/v3/businesses/search'
key = 'Your key'
headers = {
    'Authorization': 'Bearer %s' % key
}

In [3]:
def get_businesses(location, term, API_key):
    headers = {'Authorization': 'Bearer %s' % API_key}
    url = 'https://api.yelp.com/v3/businesses/search'
    data = []
    for offset in range(0, 2000, 50):
        params = {
            'limit': 50, 
            'location': location.replace(' ', '+'),
            'term': term.replace(' ', '+'),
            'offset': offset,
            'radius':40000
        }
        print("Taken:",offset+50)
        response = requests.get(url, headers=headers, params=params)
        if response.status_code == 200:
            data += response.json()['businesses']
        else:
            print("Can't Request")
            break

    return data

In [4]:
# transform the restaurant data into a dataframe
def restaurants_raw_to_df(search):
    columns = {'Alias':[],'Name':[],'Rating':[],\
               'Review_Counts':[],'Category1':[],\
               'Category2':[],'Category3':[],'Category4':[],\
               'Category5':[],'Category6':[],\
               'Latitude':[],'Longitude':[],'Price':[]}
    for i in search:
        columns['Alias'].append(i['alias'])
        columns['Name'].append(i['name'])
        columns['Rating'].append(i['rating'])
        columns['Review_Counts'].append(i['review_count'])
        #categories
        columns['Category1'].append(i['categories'][0]['alias'])
        columns['Category2'].append(i['categories'][0]['title'])
        try:
            columns['Category3'].append(i['categories'][1]['alias'])
        except:
            columns['Category3'].append(None)
        try:
            columns['Category4'].append(i['categories'][1]['title'])
        except:
            columns['Category4'].append(None)
        try:
            columns['Category5'].append(i['categories'][2]['alias'])
        except:
            columns['Category5'].append(None)
        try:
            columns['Category6'].append(i['categories'][2]['title'])
        except:
            columns['Category6'].append(None)
        #coordinates
        columns['Latitude'].append(i['coordinates']['latitude'])
        columns['Longitude'].append(i['coordinates']['longitude'])
        try:
            columns['Price'].append(i['price'])
        except:
            columns['Price'].append(None)
    return pd.DataFrame(columns)

In [5]:
# transform the mall data into a dataframe
def malls_raw_to_df(search):
    columns = {'Alias':[],'Name':[],'Rating':[],\
               'Review_Counts':[],
               'Latitude':[],'Longitude':[]}
    for i in search:
        columns['Alias'].append(i['alias'])
        columns['Name'].append(i['name'])
        columns['Rating'].append(i['rating'])
        columns['Review_Counts'].append(i['review_count'])
        #coordinates
        columns['Latitude'].append(i['coordinates']['latitude'])
        columns['Longitude'].append(i['coordinates']['longitude'])   
    return pd.DataFrame(columns)

In [6]:
def parks_raw_to_df(search):
    columns = {'Alias':[],'Name':[],'Rating':[],\
               'Review_Counts':[],'Category1':[],'Category2':[],'Category3':[],
               'Latitude':[],'Longitude':[]}
    for i in search:
        columns['Alias'].append(i['alias'])
        columns['Name'].append(i['name'])
        columns['Rating'].append(i['rating'])
        columns['Review_Counts'].append(i['review_count'])
        columns['Category1'].append(i['categories'][0]['alias'])
        columns['Category2'].append(i['categories'][0]['title'])
        try:
            columns['Category3'].append(i['categories'][1]['alias'])
        except:
            columns['Category3'].append(None)
        #coordinates
        columns['Latitude'].append(i['coordinates']['latitude'])
        columns['Longitude'].append(i['coordinates']['longitude'])   
    return pd.DataFrame(columns)

In [7]:
raw_data=get_businesses("hongkong","restaurant",key)

Taken: 50
Taken: 100
Taken: 150
Taken: 200
Taken: 250
Taken: 300
Taken: 350
Taken: 400
Taken: 450
Taken: 500
Taken: 550
Taken: 600
Taken: 650
Taken: 700
Taken: 750
Taken: 800
Taken: 850
Taken: 900
Taken: 950
Taken: 1000
Taken: 1050
Can't Request

In [8]:
#restaurant data
df3=restaurants_raw_to_df(raw_data)

In [9]:
#df3.to_csv("restaurant.csv",index=False)

In [10]:
raw_data2=get_businesses("hongkong","mall",key)

Taken: 50
Taken: 100
Taken: 150
Taken: 200
Taken: 250
Taken: 300
Taken: 350
Taken: 400
Taken: 450
Taken: 500
Taken: 550
Taken: 600
Taken: 650
Taken: 700
Taken: 750
Taken: 800
Taken: 850
Taken: 900
Taken: 950
Taken: 1000
Taken: 1050
Can't Request

In [11]:
#restaurant data
df4=restaurants_raw_to_df(raw_data2)

In [12]:
#df4.to_csv("mall.csv",index=False)

In [14]:
#park data
park_data = parks_raw_to_df(park_data)
#park_data.to_csv("park.csv",index=False)

In [ ]:
#mall data
malls_data = malls_raw_to_df(mall_data)
#mall_data.to_csv("malls.csv",index=False)