In [21]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [9]:
url = "https://www.midland.com.hk/en/market-insight/leaderboard"
results = requests.get(url)

In [10]:
doc = BeautifulSoup(results.text,"html.parser")

In [53]:
#information part1
#Name of estate, sq.ft, quantity, and turnover rate

info1 = []
for index in doc.find_all(class_ = "ulyey3-0 fejfzj"):
    info1.append(index.text)
    

info1[1:10]

['South HorizonsPrice/sq. ft (SFA)$17,176-1.3%Cases24  Total Turnover$265.91M',
 'KornhillPrice/sq. ft (SFA)$18,200-0.7%Cases10  Total Turnover$108.77M',
 'Heng Fa ChuenPrice/sq. ft (SFA)$15,935-8.1%Cases9  Total Turnover$76.84M',
 'Dynasty CourtPrice/sq. ft (SFA)$48,216+3.9%Cases9  Total Turnover$825.3M',
 'Lei King WanPrice/sq. ft (SFA)$17,041-8.7%Cases6  Total Turnover$62.1M',
 'Residence Bel-AirPrice/sq. ft (SFA)$33,535+11.8%Cases6  Total Turnover$251.38M',
 'Nan Fung Sun ChuenPrice/sq. ft (SFA)$15,871-3.9%Cases6  Total Turnover$37.37M',
 'Grand PromenadePrice/sq. ft (SFA)$23,437+2.6%Cases5  Total Turnover$57.89M',
 'Chi Fu Fa YuenPrice/sq. ft (SFA)$14,005-12.7%Cases5  Total Turnover$33.68M']

In [48]:
rawdf = pd.DataFrame(info1)
rawdf['Estate'] = rawdf[0].str.replace('Pri.+','')
rawdf['Price/sq.ft'] = rawdf[0].str.replace('\\-+.+','')
rawdf['Price/sq.ft'] = rawdf['Price/sq.ft'].str.replace('\\++.+','')
rawdf['Price/sq.ft'] = rawdf['Price/sq.ft'].str.replace('.+A\)','')
rawdf['Quantity'] = rawdf[0].str.replace('.+s','')
rawdf['Quantity'] = rawdf['Quantity'].str.replace('  .+','')
rawdf['Total Turnover in Millions'] = rawdf[0].str.replace('.+\$','')
rawdf['Total Turnover in Millions'] = rawdf['Total Turnover in Millions'].str.replace('M','')
estate_data = rawdf.drop(rawdf.columns[0], axis=1)

<ipython-input-48-471fe18af516>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  rawdf['Estate'] = rawdf[0].str.replace('Pri.+','')
<ipython-input-48-471fe18af516>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  rawdf['Price/sq.ft'] = rawdf[0].str.replace('\\-+.+','')
<ipython-input-48-471fe18af516>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  rawdf['Price/sq.ft'] = rawdf['Price/sq.ft'].str.replace('\\++.+','')
<ipython-input-48-471fe18af516>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  rawdf['Price/sq.ft'] = rawdf['Price/sq.ft'].str.replace('.+A\)','')
<ipython-input-48-471fe18af516>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  rawdf['Quantity'] = rawdf[0].str.replace('.+s','')
<ipython-input-48-471fe18af516>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  rawdf['Quantity'] = rawdf['Quantity'].str.replace('  .+','')
<ipython-input-48-471fe18af516>:8: FutureWarning: The default value of regex will change from True to False in a future version.
  rawdf['Total Turnover in Millions'] = rawdf[0].str.replace('.+\$','')

In [49]:
#saving estate data
estate_data.to_c

              Estate Price/sq.ft Quantity Total Turnover in Millions
0       Taikoo Shing     $20,172       29                     356.17
1     South Horizons     $17,176       24                     265.91
2           Kornhill     $18,200       10                     108.77
3      Heng Fa Chuen     $15,935        9                      76.84
4      Dynasty Court     $48,216        9                      825.3
..               ...         ...      ...                        ...
175  Caribbean Coast     $12,226        8                      60.31
176      Double Cove     $18,793        8                      86.41
177         Bellagio     $14,429        8                      74.54
178      The Palazzo     $19,891        8                     134.48
179  Century Gateway     $18,036        7                      67.94

[180 rows x 4 columns]